<a href="https://colab.research.google.com/github/arvindhraja/oracle/blob/main/oracle1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
oracle = pd.read_csv("/content/students_dataset.csv")
print(oracle)

       Name   Age  Marks  Attendance Passed
0     Alice  20.0   85.0        90.0    Yes
1       Bob  21.0    NaN        80.0     No
2   Charlie   NaN   78.0         NaN    Yes
3     David  22.0   90.0        85.0    Yes
4       Eve  20.0   88.0        95.0     No
5     Frank   NaN   76.0        70.0    Yes
6     Grace  23.0    NaN        88.0     No
7      Hank  21.0   80.0         NaN    Yes
8       Ivy  24.0   92.0        92.0    Yes
9      Jack   NaN   79.0        85.0     No
10    Kelly  22.0    NaN        78.0    Yes
11      Leo  23.0   87.0         NaN    Yes
12     Mona  21.0   83.0        80.0     No
13     Nina   NaN   77.0        89.0    Yes
14    Oscar  25.0    NaN        91.0     No
15     Paul  22.0   81.0         NaN    Yes

In [5]:
display(oracle.head())

      Name   Age  Marks  Attendance Passed
0    Alice  20.0   85.0        90.0    Yes
1      Bob  21.0    NaN        80.0     No
2  Charlie   NaN   78.0         NaN    Yes
3    David  22.0   90.0        85.0    Yes
4      Eve  20.0   88.0        95.0     No

In [6]:
display(oracle.tail())

     Name   Age  Marks  Attendance Passed
11    Leo  23.0   87.0         NaN    Yes
12   Mona  21.0   83.0        80.0     No
13   Nina   NaN   77.0        89.0    Yes
14  Oscar  25.0    NaN        91.0     No
15   Paul  22.0   81.0         NaN    Yes

In [7]:
data_drop=oracle.dropna()
print(data_drop)

     Name   Age  Marks  Attendance Passed
0   Alice  20.0   85.0        90.0    Yes
3   David  22.0   90.0        85.0    Yes
4     Eve  20.0   88.0        95.0     No
8     Ivy  24.0   92.0        92.0    Yes
12   Mona  21.0   83.0        80.0     No

In [8]:
data_fill=oracle.fillna(100)
print(data_fill)

       Name    Age  Marks  Attendance Passed
0     Alice   20.0   85.0        90.0    Yes
1       Bob   21.0  100.0        80.0     No
2   Charlie  100.0   78.0       100.0    Yes
3     David   22.0   90.0        85.0    Yes
4       Eve   20.0   88.0        95.0     No
5     Frank  100.0   76.0        70.0    Yes
6     Grace   23.0  100.0        88.0     No
7      Hank   21.0   80.0       100.0    Yes
8       Ivy   24.0   92.0        92.0    Yes
9      Jack  100.0   79.0        85.0     No
10    Kelly   22.0  100.0        78.0    Yes
11      Leo   23.0   87.0       100.0    Yes
12     Mona   21.0   83.0        80.0     No
13     Nina  100.0   77.0        89.0    Yes
14    Oscar   25.0  100.0        91.0     No
15     Paul   22.0   81.0       100.0    Yes

In [9]:
print(oracle.isnull().sum())

Name          0
Age           4
Marks         4
Attendance    4
Passed        0
dtype: int64

In [10]:
print(oracle["Age"].fillna(oracle["Age"].mean(),inplace=False))

0     20.0
1     21.0
2     22.0
3     22.0
4     20.0
5     22.0
6     23.0
7     21.0
8     24.0
9     22.0
10    22.0
11    23.0
12    21.0
13    22.0
14    25.0
15    22.0
Name: Age, dtype: float64

In [11]:
print(oracle["Marks"].fillna(oracle["Marks"].median(),inplace=False))

0     85.0
1     82.0
2     78.0
3     90.0
4     88.0
5     76.0
6     82.0
7     80.0
8     92.0
9     79.0
10    82.0
11    87.0
12    83.0
13    77.0
14    82.0
15    81.0
Name: Marks, dtype: float64

In [12]:
oracle.drop_duplicates(inplace=False)
print(oracle)

       Name   Age  Marks  Attendance Passed
0     Alice  20.0   85.0        90.0    Yes
1       Bob  21.0    NaN        80.0     No
2   Charlie   NaN   78.0         NaN    Yes
3     David  22.0   90.0        85.0    Yes
4       Eve  20.0   88.0        95.0     No
5     Frank   NaN   76.0        70.0    Yes
6     Grace  23.0    NaN        88.0     No
7      Hank  21.0   80.0         NaN    Yes
8       Ivy  24.0   92.0        92.0    Yes
9      Jack   NaN   79.0        85.0     No
10    Kelly  22.0    NaN        78.0    Yes
11      Leo  23.0   87.0         NaN    Yes
12     Mona  21.0   83.0        80.0     No
13     Nina   NaN   77.0        89.0    Yes
14    Oscar  25.0    NaN        91.0     No
15     Paul  22.0   81.0         NaN    Yes